@model List<Department>

@{
    ViewData["Title"] = "Department Home";
}

<h1>All Departments (@Model.Count)</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Department Name</th>
            <th scope="col">Code</th>
            <th scope="col">Descriptions</th>
            <th scope="col">Start Date</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        @* @foreach (var employee in Model)
            {
            <tr>
            <td>@employee.FirstName</td>
            <td>@employee.Surname</td>
            <td>@employee.Address</td>
            <td>@employee.Gender</td>
            <td>@employee.Salary</td>


            </tr>
            } *@

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>
                    <a href="/department/detail?id=@Model[i].Id">@Model[i].Name</a>
                </td>
                <td>@Model[i].Code</td>
                <td>@Model[i].Description</td>
                <td>@Model[i].StartDate</td>

                <td>
                    <a class="btn btn-warning" href="/Department/Edit?id=@Model[i].Id">Edit</a>
                    <a class="btn btn-danger" href="/Department/Delete?id=@Model[i].Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
